*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
}
.Monai-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, .3);
    width: 500px;
    height: auto;
}
h2{
    font-size: 24px;
    padding-bottom: 30px;
}
.MyMonnaie{
    margin: 10px;
    position: left;
    /* display: flex; */
    align-items: end;
    justify-content: space-between;
    flex-direction: row;
}
#maMonnaie{
    margin-right: 180px ;
    font-size: 14px;
}
.MyMonnaie input{
    margin-left: 80px;
    border: transparent;
    outline: none;
    width: 100px;
    /* padding: 5px; */
    font-size: 20px;
    text-align: right;
}
.MyMonnaie input::placeholder{
    font-size: 20px;
}
.exchange-rate{
    font-size: 16px;
    font-weight: 800;
}
.MyMonnaie input#worth-second{
    width: 150px;
    margin-left: 30px;
}